/MetroService/bin
/MetroService/obj/Debug
/MetroService/.vs
/MetroService/obj
/MetroService/MetroService.sln
/*.rarr
/ClientMetro/.vs/ClientMetro/v16/*.suo
/ClientMetro/.vs/ClientMetro/v16/Server/sqlite3/*.lock
/ClientMetro/.vs/ClientMetro/v16/Server/sqlite3/*.ide
/ClientMetro/bin/Debug/*.exe
/ClientMetro/bin/Debug/*.config
/ClientMetro/bin/Debug/*.pdb
/ClientMetro/bin/Debug/*.dll
/ClientMetro/bin/Debug/*.xml
/ClientMetro/bin/Release/*.exe
/ClientMetro/bin/Release/*.config
/ClientMetro/bin/Release/*.pdb
/ClientMetro/bin/Release/*.dll
/ClientMetro/bin/Release/*.xml
/ClientMetro/obj/Debug/*.cs
/ClientMetro/obj/Debug/*.cache
/ClientMetro/obj/Debug/*.resources
/ClientMetro/obj/Debug/*.CopyComplete
/ClientMetro/obj/Debug/*.txt
/ClientMetro/obj/Debug/*.exe
/ClientMetro/obj/Debug/*.pdb
/ClientMetro/obj/Debug/*.lref
/ClientMetro/obj/Debug/Dictionary/*.baml
/ClientMetro/obj/Debug/*.baml
/ClientMetro/obj/Release/*.cs
/ClientMetro/obj/Release/*.resources
/ClientMetro/obj/Release/*.CopyComplete
/ClientMetro/obj/Release/*.txt
/ClientMetro/obj/Release/*.cache
/ClientMetro/obj/Release/*.exe
/ClientMetro/obj/Release/*.pdb
/ClientMetro/obj/Release/*.lref
/ClientMetro/obj/Release/Dictionary/*.baml
/ClientMetro/obj/Release/*.baml
/ClientMetro/obj/Release/TempPE/*.dll
