<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MetroServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MetroServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://metro.somee.com/WebService/MetroService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MetroServiceSoap"
                contract="MetroService.MetroServiceSoap" name="MetroServiceSoap" />
            <endpoint address="http://metro.somee.com/WebService/MetroService.asmx"
                binding="customBinding" bindingConfiguration="MetroServiceSoap12"
                contract="MetroService.MetroServiceSoap" name="MetroServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>